@import './base.css';

/* Containers */

h1 {
    text-align: center;
    padding: 40px 0 20px 0;
    color: black;
}
  
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
  
.img img {
    width: 170px;
    height: auto;
}
  
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
  
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
}
  
.card {
    display: flex;
    flex-direction: column;
    border: px solid #ddd;
    padding: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    background-color: #fff;
}
  
.card h2 {
    color: black;
    text-align: left;
    font-size: 1rem;
}
  
.card h3 {
    color: black;
    font-size: 0.8rem;
}
  
.card p.autor {
    color: #4F4C57;
    font-size: 0.5rem;
}
  
.card:hover {
    transform: scale(1.02);
}
  
.comprar {
    background-color: #28a745;
    color: white;
    padding: 8px 56px;
    cursor: pointer;
    margin-top: auto;
    border: none;
    font-size: 0.9rem;
    outline: none;
}
  
.comprar:focus {
    outline: none;
    box-shadow: none;
}
  
.comprar:hover {
    background-color: #218838;
}

/* FIM DOS CONTAINERS */
/*header*/
a{
    text-decoration: none;
    color: #7B7881;
  }
  header h3 a{
    color: #231F2D;
  }
  header{
    display: flex;
    border-bottom: #1a1a2e 2px solid;
  }

  header h3{
    padding: 5px 0 5px 250px;
    margin: 20px 10px 0 15px; 
  }
  header p{
    color: #e94560;
    margin: 20px 75px 23px 0;
    padding-left: 10px;
    font-weight: 300;
    line-height: 20px;
    border-left: #e94560 2px solid;  
  }
  header ul{
    display: flex;
  }
  header input{
    background-color: #F1F1F1;
    border: none;
    outline: none;
    margin-top: 23px;
    padding: 3px 3px 3px 18px;
    height: 2vw;
    width: 20vw;
    font-size: 1rem;
    
  }
  header button{
    border: none;
    background-color: #F1F1F1;  
    height: 2vw;
    margin-top: 23px;
    padding: 0 15px 0 15px
  }
  header button img{
    width: 20px;
    opacity: 50%;
  }
  header ul li{
    padding: 30px;
    list-style: none;
    color: #7B7881;
  }
  header ul span li {
    padding-right: 60px;
  }
  header a img{
    width: 63px;
    margin-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
  }
  header span img{
    border-right: #27AE60 1px solid;
  }
/*footer*/
footer{
  background-color: #1a1a2e;
  margin-top: 100px;
  color: #F1F1F1;
  padding: 40px;
  display: flex;
}
footer div.divisao1{
  margin: 0 1100px 0 100px;
}
footer div p.principal{
  margin: 0 0 20px 0;
  font-weight: 450;
}
footer div.divisao1 img{
  margin: 0 20px 0 0;
}
footer div ul li{
  list-style: none;
  display: flex;
}
footer div.divisao2 ul li img{
  margin: 0 10px 20px -40px;
}
footer div.cartoes img{
  margin: 40px 15px 70px 0;
}
div.footinho{
border-top: #F1F1F1 1px solid;
}
p.transp{
  margin: 0 0 0 -620px;
}